# attrs==26.1.0
# certifi==2026.5.20
# cffi==2.0.0
# charset-normalizer==3.4.7
# colorama==0.4.6
# contourpy==1.3.3
# cycler==0.12.1
# fonttools==4.62.1
# greenlet==3.5.1
# h11==0.16.0
# idna==3.16
# iniconfig==2.3.0
# kiwisolver==1.5.0
# matplotlib==3.10.8
# numpy==2.4.4
# outcome==1.3.0.post0
# packaging==26.0
# pandas==3.0.2
# pillow==12.2.0
# pluggy==1.6.0
# pycparser==3.0
# Pygments==2.20.0
# pyparsing==3.3.2
# PySocks==1.7.1
# pytest==9.0.3
# python-dateutil==2.9.0.post0
# python-dotenv==1.2.2
# requests==2.34.2
# seaborn==0.13.2
# selenium==4.44.0
# six==1.17.0
# sniffio==1.3.1
# sortedcontainers==2.4.0
# SQLAlchemy==2.0.50
# trio==0.33.0
# trio-websocket==0.12.2
# typing_extensions==4.15.0
# tzdata==2026.1
# urllib3==2.7.0
# webdriver-manager==4.1.1
# websocket-client==1.9.0
# wsproto==1.3.2

# I am copying this from python_homework so that my project can be compatible with the same versions of libraries.
pytest==8.1.1
pandas==2.2.3
sqlalchemy==2.0.36
jupyter_client==8.6.3
jupyter_core==5.7.2
nbstripout==0.8.1